@font-face{
    font-family: 'JetBrainsMono';
    src: url('//cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff'),
        url('//cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: JetBrainsMono, Monospace, Consolas !important;
}
html{
    height: 100%;
}
body,html{
    padding: 0px;
    margin: 0px;
    color: #111;
    background-color: #fff;
    font-size: 13px;
    line-height: 155%;
}
h1 {
    font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 0;
}
.header{
    background: #f7f7f7;
    border-top: 2px solid #ebebeb;
    max-height: 150px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    overflow-x: hidden !important;
}
.header div{
    background: #f7f7f7;
    height: 150px;
    overflow:scroll;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: hidden !important;
}
.header p{
    margin-bottom: -10px;
}
.header a{
    color: #111 !important;
    border-bottom: 2px dotted #333;
    text-decoration: none;
}
.site-frame{
    width: 100%;
    height: 100vh;
    border: 0px;
    position:fixed;
}